.list-group {
    list-style: none;
    display: inline-block;
}

.list-group label h6 {
    background-color: #fff;
    border: 2px solid #e3dada;
    color: #adadad;
    border-radius: 20px;
    margin: 5px 2px;
}

.list-group label h6{
    padding: 8px 10px;
    border-radius: 22px;
    cursor: pointer;
}

.list-group label input[type="checkbox"]:checked + h6 {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
}

.list-group label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}